body {
    background-color: #FF9CCE;
    color: #56002F;
    font-size: 20px;
}
.menu-items {
    color: #af005f;
    text-align: center;
}
.m1 {
    background-color: palevioletred;
  height: 50vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0.5rem 0.2rem #e0a8;
  margin: 3rem 3rem;
  transition: all 0.4s;
  filter: blur(5px);
  object-fit: cover;
}
.m1:hover {
    background-color: #79394e;
  transform: scale(1.05);
  box-shadow: 1rem 1rem 0.5rem 0.2rem rgb(107, 0, 77);
  filter: blur(0);
  .cardtitle, .cardpara{
    background-color: palevioletred;
  }
}