:root {
  --black: #000;
  --light-pink: rgb(245, 188, 198);
  --dark-pink: rgb(223, 79, 215);
  --light-purple: rgb(204, 101, 204);
  --dark-purple: rgb(122, 52, 122);
  --gray: #bcc5ca;

  --primary: var(--light-pink);
  --secondary: var(--light-purple);

  --h1: 8rem;
}

html,
body {
  margin: 0rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 100%;
}

.lightmode {
--primary: var(--light-pink);
--secondary: var(--light-purple);
--card: var(--light-purple);
--h1color: var(--black);
--buttons: var(--gray)
}
.darkmode{
  --primary: var(--dark-pink);
  --secondary: var(--dark-purple);
  --card: var(--dark-purple);
--h1color: var(--black);
--buttons: var(--gray)
}
body{
  background-color: var(--primary);
}

.header-text{
  font-size: var(--h1);
  padding: 0;
  margin: 1rem auto;
}

.app{
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1{
  font-size: 500%;
  color: var(--h1color);
  text-align: center;
}
h2{
  font-size: 300%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem auto;
}

.card{
  height: 50vh;
  width: 20vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 1rem auto;
  background-color: var(--card);
  border-radius: 1rem;
}
.card-img{
  height: 70%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10rem;
}

.btns {
  padding: 1rem auto;
  margin: 1rem 1rem 1rem auto;
  display: flex;
  justify-content: center;
}

.btn{
  justify-content: space-around;
  background: var(--buttons);
  font-size: var(--h2);
  height: auto;
  width: auto;
  margin: 1rem auto;
  border-radius: 1rem;
}